.seacrchForm {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    width: 264px;
}

.seacrchForm label {
    margin-bottom: 4px;
}

.searchInput {
    display: block;
    margin-top: 4px;
    margin-bottom: 8px;
    min-width: 300px;
    padding: 8px;
    border-radius: 6px;
    outline: none;
    background-color: #3a3d40;
    transition: background-color 0.2s ease-in-out;
    color: #fff;
    font-size: 16px;
    border: none;
}

.searchInput:focus,
.searchInput:focus {
    background-color: aliceblue;
    color: rgb(26, 31, 35);
}

.inputLabel {
    font-size: 18px;
    display: flex;
    flex-direction: column;
}