.addContactForm {
    display: flex;
    flex-direction: column;
    width: 264px;
    margin: 24px 0;
    gap: 16px;
}

.inputFieldContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;

}

.inputField {
    transition: outline-color 100ms ease-in-out;
    width: 100%;
}

.inputFieldAddition {
    padding-right: 32px;
}

.inputField:focus {
    outline-color: rgb(44, 128, 157);
}

.formError {
    color: red
}

.inputSvgContainer {
    position: relative;
}

.userLock {
    fill: rgb(44, 128, 157);
    position: absolute;
    top: 4px;
    right: 10px;
}

.notVisible {
    opacity: 0;
}