.formError {
    color: rgb(165, 77, 77);
    font-size: 14px;
}

.formContainer {
    margin-top: 20px;
    padding-left: 30px;
}


.inputContainer {
    display: flex;
}

.inputLabel {
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

.erroField {
    padding-top: 42px;
    margin-left: 2px;
}

.formInput {
    display: block;
    margin-top: 4px;
    margin-bottom: 8px;
    min-width: 300px;
    padding: 8px;
    border-radius: 6px;
    outline: none;
    background-color: #3a3d40;
    transition: background-color 0.2s ease-in-out;
    color: #fff;
    font-size: 16px;
    border: none;
}


.formInput:focus,
.formInput:focus {
    background-color: aliceblue;
    color: rgb(26, 31, 35);
}

.submitBtn {
    display: block;
    margin-top: 10px;
    width: 300px;
    padding: 8px;
    border-radius: 8px;
    border: none;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    background-color: aliceblue;
    color: rgb(26, 31, 35);
}

.submitBtn:hover,
.submitBtn:focus {
    background-color: rgb(26, 31, 35);
    color: aliceblue;
}